# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ
.idea/
# Ignore Eclipse
.classpath
.project
.settings/
bin/
# Ignore vim
.vim/

# Ignore credentials.json
credentials.json

.arch-as-code/
demo-folder/*

.DS_Store
