<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="arc-as-code-test-log" fileName="${sys:user.home}/.arch-as-code/test-output.log" immediateFlush="true" append="true">
      <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="warn" additivity="false">
      <AppenderRef ref="arc-as-code-test-log"/>
    </Root>
  </Loggers>
</Configuration>
